<?xml version="1.0"?>

<config>
    <modules>
        <VS_Zoommaster>
            <version>2.0</version>
        </VS_Zoommaster>
    </modules>
    <global>
		<blocks>
			<zoommaster>
				<class>VS_Zoommaster_Block</class>
			</zoommaster>
		</blocks>
        <helpers>
            <zoommaster>
                <class>VS_Zoommaster_Helper</class>
            </zoommaster>
        </helpers>
		<models>		
			<zoommaster>
				<class>VS_Zoommaster_Model</class>
			</zoommaster>  		
		</models>
        <resources>
            <zoommaster_setup>
                <setup>
                    <module>VS_Zoommaster</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zoommaster_setup>
            <zoommaster_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </zoommaster_write>
            <zoommaster_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </zoommaster_read>
        </resources>
    </global>
	<default>
        <zoommaster>
            <general>
                <defaulzoommaster>1</defaulzoommaster>
				<trigger>mouseover</trigger>
				<iconpos>Yes</iconpos>  
            </general>
		
			
        </zoommaster>
		
    </default>
    <frontend>
        <layout>
            <updates>
                <zoommaster>
                    <file>zoommaster.xml</file>
                </zoommaster>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zoommaster>
                                            <title>VS Zoom Master</title>
                                        </zoommaster>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
